body {
    font-family: Arial, sans-serif;
}

#itemInput {
    width: 300px;
}

#itemList {
    list-style-type:none;
    padding: 0;
}

.item {
    margin-bottom: 5px;
}

.deleteButton {
    margin-left: 5px;
    color: white;
    background-color: rgb(250, 52, 52);
    /* border-radius: 10px; */
    margin-top: 4px;
    cursor: pointer;
    border: none;
}

.botao-adicionar{
    color: rgb(255, 255, 255);
    background-color: rgb(16, 208, 52);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.botao-limpar{
    color: white;
    background-color: rgb(250, 52, 52);
    border-radius: 10px;
    margin-top: 4px;
    cursor: pointer;
    border: none;
}

.botao-adicionar:hover{
    background-color: rgb(57, 130, 70);
    transition: ease 0.3s;
}

.botao-limpar:hover{
    background-color: rgb(134, 50, 50);
    transition: ease 0.3s;
}

.deleteButton:hover{
    background-color: rgb(134, 50, 50);
    transition: ease 0.3s;
}